<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RESET PASSWORD</title>
    <style>
      body{
            font-family: Arial, Helvetica, sans-serif;
            padding: 1rem;
            max-width: 900px;
            margin: 10px auto;
            
        }
        img{
            width: 50%;
        }
    </style>
</head>
<body>

    <img src="https://miamioh.edu/_files/images/it-services/news-articles/2017/07/password-reset.jpg" alt="">

    <h1>Reset Password</h1>
    <p> You are receiving this email because you have requested a password reset</p>
    <p>Please go to <a href="{resetURL}">RESET LINK</a></p>
    
</body>
</html>