<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Verify Email</title>

    <style>
        body{
            font-family: Arial, Helvetica, sans-serif;
            padding: 1rem;
            max-width: 900px;
            margin: 10px auto;

        }
        img{
            width: 50%;
  
        }
    </style>
  </head>
  <body>
    <img
    src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/ed/E-Verify_logo.svg/425px-E-Verify_logo.svg.png"

      alt=""
    />
    <h1>Welcome to our platform</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Recusandae,
      quaerat impedit accusantium iure similique, expedita quis ratione vero
      reiciendis libero voluptatum. Adipisci, animi tempora at placeat
      consequatur fuga doloremque quia.
    </p>
    <h3> Verify your email</h3>
    <a href="{url}/auth/verify/?id={userId}&verifyCode={verifyCode}"> {url}/auth/verify/?id={userId}&verifyCode={verifyCode}</a>
  </body>
</html>



