<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome to our platform</title>

    <style>
        body{
            font-family: Arial, Helvetica, sans-serif;
            padding: 1rem;
            max-width: 900px;
            margin: 10px auto;
            
        }
        img{
            width: 50%;
        }
    </style>
  </head>
  <body>
    <img
      src="https://media.istockphoto.com/id/1391352876/vector/thank-you-colorful-typography-banner.jpg?s=612x612&w=0&k=20&c=jzm-E-RXHtLDQNxs_8RNe_388gbl7t7dEsYuyC0xtF8="
      alt=""
    />
    <h1>Email Verified Successfully !</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Recusandae,
      quaerat impedit accusantium iure similique, expedita quis ratione vero
      reiciendis libero voluptatum. Adipisci, animi tempora at placeat
      consequatur fuga doloremque quia.
    </p>
  
  </body>
</html>